<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/w3.css"></link>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>
<body>

<div class="w3-container w3-black">
          <h1>Nexa Pixel Wall</h1>
          <p>v0.1</p>
        </div>
        <div id="MainContainer" class="w3-white">
            <div id="Movable" class="zoom1">

            </div>
        </div>

        <div class="zoomzone">
            <button class="zoombutton" onclick="javascript:zoom()">+</button>
            <button class="zoombutton" onclick="javascript:unzoom()">-</button>
        </div>

        <div id="Modal">

            <div id="PixelColors" ></div>

            <button id="btnWhite" class="colorSelect" onclick="clickColor('White');" />
            <button id="btnBlack" class="colorSelect" onclick="clickColor('Black');"  />
            <button id="btnGrey" class="colorSelect" onclick="clickColor('Grey');"  />
            <button id="btnRed" class="colorSelect" onclick="clickColor('Red');"  />
            <button id="btnGreen" class="colorSelect" onclick="clickColor('Green');"  />
            <button id="btnBlue" class="colorSelect" onclick="clickColor('Blue');"  />
            <button id="btnYellow" class="colorSelect" onclick="clickColor('Yellow');"  />
            <button id="btnPurple" class="colorSelect" onclick="clickColor('Purple');"  />

            
            <button id="btnValidateColor" class="validateColor" onclick="ValidateColor();">
                Validate
            </button>
            

        </div>

<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript">


let zoomIndex=1;
            let selectedX=-1;
            let selectedY=-1;
            let selectedColor="";
            let selectedPixelId = -1;
            let eventSource;



            let mouseDown = false;
            let mouseMoved = false;
            let startX, scrollLeft;
            let starty, scrollTop;
            const slider = document.querySelector('#MainContainer');

            const startDragging = (e) => {
              mouseDown = true;
              startX = e.pageX - slider.offsetLeft;
              startY = e.pageY - slider.offsetTop;
              scrollLeft = slider.scrollLeft;
              scrollTop = slider.scrollTop;
            }

            const stopDragging = (e) => {
              mouseDown = false;
            }

            const move = (e) => {
              e.preventDefault();
              if(!mouseDown) { return; }
              const x = e.pageX - slider.offsetLeft;
              const scrollX = x - startX;
              slider.scrollLeft = scrollLeft - scrollX;
              const y = e.pageY - slider.offsetTop;
              const scrollY = y - startY;
              slider.scrollTop = scrollTop - scrollY;
              mouseMoved = true;
            }

            // Add the event listeners
            slider.addEventListener('mousemove', move, false);
            slider.addEventListener('mousedown', startDragging, false);
            slider.addEventListener('mouseup', stopDragging, false);
            slider.addEventListener('mouseleave', stopDragging, false);

            listenUpdates();

window.onload = function() {
              loadGrid();
            };

            function ValidateColor(){
                $.ajax({url: 'ValidateColors?pixelId='+selectedPixelId+'&color='+selectedColor, success:function(res){
                  alert('server response is'+ res);
                }});


                const selectedPixel = document.getElementById('x'+selectedX+'y'+selectedY);
                selectedPixel.className = '';
                selectedPixel.classList.add("button");
                selectedPixel.classList.add(selectedColor);
                selectedPixel.classList.add("pixelSelected");
            }

            function listenUpdates() {
              // subscribe to updates
              eventSource = new EventSource('http://localhost:3000/updates');
          
              eventSource.addEventListener('pixelChanged', onMessage);
              eventSource.addEventListener('connected', onConnected);
              eventSource.onopen = onopen;
              eventSource.onerror = onerror;
              eventSource.onmessage = onmessage;
          
              //
          
              /**
               * Receive and set user id
               * @param event
               */
              function onConnected(event) {
                console.log('User is connected');
              }
          
              /**
               * Receive message and display it
               * @param event
               */
              function onMessage(event) {
                let data = JSON.parse(event.data);

                let updatedColor = JSON.parse(event.data).color;
          
                UpdatePixel(data.text,updatedColor);
              }
          
              /**
               * Reconnect on error
               */
              function onerror() {
                console.log('Error. Closing sse connection');
                eventSource.close();
          
                // reconnect on error
                setTimeout(listenUpdates, 2000);
              }
          
              /**
               * Yahoo!
               */
              function onopen() {
                console.log('Connection is established');
              }
          
            }

            function UpdatePixel(pixelName,updatedColor){
              let pixelToUpdate = document.getElementById(pixelName);

              pixelToUpdate.className = '';
              pixelToUpdate.classList.add("button");
              pixelToUpdate.classList.add(updatedColor);
          }

            function clickColor(color){

                let selectedButton = null;
                
                const validateBtn = document.getElementById("btnValidateColor");
                validateBtn.disabled = false;

                var elements = document.getElementsByClassName("btnSelected");
                for(var i = elements.length - 1; i >= 0; --i)
                {
                    elements[i].classList.remove("btnSelected");
                }   

                switch(color) {
                          case "White":
                            selectedButton = document.getElementById("btnWhite");
                            selectedColor="white";
                            break;
                          case "Black":
                            selectedButton = document.getElementById("btnBlack");
                            selectedColor="black";
                            break;
                          case "Grey":
                            selectedButton = document.getElementById("btnGrey");
                            selectedColor="grey";
                            break;
                          case "Red":
                            selectedButton = document.getElementById("btnRed");
                            selectedColor="red";
                            break;
                          case "Green":
                            selectedButton = document.getElementById("btnGreen");
                            selectedColor="green";
                            break;
                          case "Blue":
                            selectedButton = document.getElementById("btnBlue");
                            selectedColor="blue";
                            break;
                          case "Yellow":
                            selectedButton = document.getElementById("btnYellow");
                            selectedColor="yellow";
                            break;
                          case "Purple":
                            selectedButton = document.getElementById("btnPurple");
                            selectedColor="purple";
                            break;
                          default:
                            // code block
                        } 

                selectedButton.classList.add("btnSelected");
            }




            function zoom()
            {
                oldZoomIndex = zoomIndex;

                if(zoomIndex<4)
                {
                    zoomIndex ++;
                }
                const mainContainer = document.getElementById("MainContainer");
                const movableDiv = document.getElementById("Movable");

                mainContainer.classList.remove("zoom1");
                mainContainer.classList.remove("zoom2");
                mainContainer.classList.remove("zoom3");
                mainContainer.classList.remove("zoom4");

                movableDiv.classList.remove("zoom1");
                movableDiv.classList.remove("zoom2");
                movableDiv.classList.remove("zoom3");
                movableDiv.classList.remove("zoom4");

                mainContainer.classList.add("zoom"+zoomIndex);
                movableDiv.classList.add("zoom"+zoomIndex);

                var elements = document.getElementsByClassName("row zoom"+oldZoomIndex);
                for(var i = elements.length - 1; i >= 0; --i)
                {
                    elements[i].className = "row zoom"+zoomIndex;
                }   

                var pixels = document.getElementsByClassName("button");
                for(var i = pixels.length - 1; i >= 0; --i)
                {
                    pixels[i].classList.add("zoomed");
                }   
            }



            function unzoom()
            {
                oldZoomIndex = zoomIndex;

                if(zoomIndex>1)
                {
                    zoomIndex --;
                }
                const mainContainer = document.getElementById("MainContainer");
                const movableDiv = document.getElementById("Movable");

                mainContainer.classList.remove("zoom1");
                mainContainer.classList.remove("zoom2");
                mainContainer.classList.remove("zoom3");
                mainContainer.classList.remove("zoom4");

                movableDiv.classList.remove("zoom1");
                movableDiv.classList.remove("zoom2");
                movableDiv.classList.remove("zoom3");
                movableDiv.classList.remove("zoom4");

                mainContainer.classList.add("zoom"+zoomIndex);
                movableDiv.classList.add("zoom"+zoomIndex);

                var elements = document.getElementsByClassName("row zoom"+oldZoomIndex);
                for(var i = elements.length - 1; i >= 0; --i)
                {
                    elements[i].className = "row zoom"+zoomIndex;
                }   

                if(zoomIndex == 1)
                {
                    var pixels = document.getElementsByClassName("zoomed");
                    for(var i = pixels.length - 1; i >= 0; --i)
                    {
                        pixels[i].classList.remove("zoomed");
                    }   
                }
            }




            function clickPixel(x,y,pixelId)
            {
                selectedX = x;
                selectedY = y;
                selectedPixelId = pixelId;

                const modalDiv = document.getElementById("Modal");
                modalDiv.style.display = 'block'; 

                document.getElementById("btnValidateColor").disabled = true; 

                if(!mouseMoved){
                    const pixelColors = document.getElementById("PixelColors");
                    pixelColors.innerHTML ="";
                    pixelColors.appendChild(document.createTextNode("You selected following coordinates : x :"+x+" y:"+y));

                    var pixels = document.getElementsByClassName("pixelSelected");
                    for(var i = pixels.length - 1; i >= 0; --i)
                    {
                        pixels[i].classList.remove("pixelSelected");
                    }   

                    const selectedPixel = document.getElementById('x'+x+'y'+y);
                    selectedPixel.classList.add("pixelSelected");

                    var btnSelected = document.getElementsByClassName("btnSelected");
                    for(var i = btnSelected.length - 1; i >= 0; --i)
                    {
                        btnSelected[i].classList.remove("btnSelected");
                    }   
                }
                else{
                    mouseMoved = false;    
                }
            }



            async function loadGrid()
            {
                let pixelList;
                
                await fetch('nexapixels.json')
                  .then(response => response.text())
                  .then((data) => {
                    pixelList = JSON.parse(data)
                  })
                
                const movableDiv = document.getElementById("Movable");

                let x=0;
                let y=0;
                let pixelId=0;
                while (y < 128) {
                    const row = document.createElement('div');
                    row.setAttribute('id', "y"+y);
                    row.classList.add("row");
                    row.classList.add("zoom1");

                    while (x < 128) {
                        const newButton = document.createElement('button');
                        newButton.setAttribute('id', 'x'+x+'y'+y);
                        newButton.classList.add("button");
                        newButton.setAttribute("onclick","clickPixel("+x+","+y+","+pixelId+");");

                        switch(pixelList[pixelId].color) {
                          case 'white':
                            newButton.classList.add("white");
                            break;
                          case 'black':
                            newButton.classList.add("black");
                            break;
                          case 'grey':
                            newButton.classList.add("grey");
                            break;
                          case 'red':
                            newButton.classList.add("red");
                            break;
                          case 'green':
                            newButton.classList.add("green");
                            break;
                          case 'blue':
                            newButton.classList.add("blue");
                            break;
                          case 'yellow':
                            newButton.classList.add("yellow");
                            break;
                          case 'purple':
                            newButton.classList.add("purple");
                            break;
                          default:
                            newButton.classList.add("white");
                            break;
                        } 

                        row.appendChild(newButton);
                        x++;
                        pixelId++;
                    }

                    movableDiv.appendChild(row);
                    x=0;
                    y++;
                }
            }


</script>
</body>
</html>
